{% extends 'base.html' %}


{% block content %}

<div class="conainer">

    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Let's collect some Jeeps! ◑﹏◐ </h2>
            <h5>Create an amazing API for collecting Jeeps!</h5>
        
            <div>
                <button class="btn btn-primary">View Info</button>
                <button class="btn btn-primary">Join our Slack</button>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="../../static/images/jeepundray.jpg" alt="Hero Header Image" class="header-image"> 
        </div>

            

    </header>

    <!-- end headers -->
    <!--start of middle -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Jeeps! ◑﹏◐ </h2>
            <p>you can use the power of api to grow your Collection!</p>
        </div>
    </section>
    <!-- end of middle -->
    <!-- feature Section -->

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/jeepapi.png" alt="jeep api" id="api-image">
            <h4>API routes for all</h4>
            <p>Boy do we have API routes</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/jeepgi.png" alt="jeep GQL" id="graphql-image">
            <h4>GQL API route</h4>
            <p>If you want it you can have it.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/jeepdb.png" alt="jeep db" id="database-image">
            <h4>Backed by Us and Our Database</h4>
            <p>All data is secure.</p>
        </div>
    </section>
    <!-- end of features -->
    <!-- community section -->

    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/jeepserval.jpg" alt="Jeep Image" id="jeep-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with people about Jeeps!</h4>
            <p>
                Talk with other people about Jeeps and Jeep data.
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Channel</button>
            </div>
        </div>
    </section>
    <!-- end of Community Section -->
    <!-- footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/jeeplogo.png" alt="jeep logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
               <h4>Platform</h4>
               <p>Why Jeep API?</p>
               <p>The Jeep Thing</p>
               <p>Donate</p>
               <p>Say What</p>
               <p>Our Deal</p>
                           
                
            </div>
        </div>
    </footer>
</div>


{% endblock content %}